<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>店员</title>
    <link rel="stylesheet" href="./css/info.css?v=5">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/media_750.js"></script>
</head>
<body>
    <div id="app">
        <!-- 页面背景图 -->
        <div class="manager_info_back"></div>
        <!-- 页面内容部分 -->
        <div class="manager_card">
            <div class="manager_card_info">
                <div class="manager_card_info_one">
                    <p>店长：</p>
                    <span>{{manager.manage_name}} </span><img src="./images/manager_info/grade.png" alt=""
                        class="manager_card_info_one_img">
                </div>
                <div class="manager_card_info_two">
                    <img src="./images/manager_info/phone.png" alt="" class="manager_card_info_two_img">
                    <p>{{manager.manage_phone}}</p>
                </div>
                <div class="manager_card_info_three">
                    <img src="./images/manager_info/location.png" alt="" class="manager_card_info_three_img">
                    <span class="manager_card_info_three_span_one">{{manager.com_name}}</span><span
                        class="manager_card_info_three_span">{{manager.hall_name}}</span>
                </div>
            </div>
        </div>
        <!-- 排名 -->
        <div class="ranking_div">
            <div class="ranking_div_left">
                <p>排名</p>
                <p>{{ranking.top}}</p>
            </div>
            <img src="./images/manager_info/cup.png" alt="" class="ranking_div_img">
            <div class="ranking_div_content">
                <p v-if="!rankShow">您的厅店距离上一名还差<span class="ranking_div_content_span">{{ranking.order}}</span>单</p>
                <p v-if="rankShow">您的厅店已是第<span class="ranking_div_content_span">1</span>名，请继续保持</p>
                <p>截止2020-03-20 24:00</p>
            </div>
        </div>
    </div>
   <script>
      var w=new Vue({
        el:"#app",
        data:{
            manager: '', rankShow: false, ranking:{}
        },
        mounted() {
             axios.get("./js/manager.json").then(function (res) {
                console.log(res)
                w.ranking = res.data.top_hall
                w.manager = res.data.hall
                  if (w.ranking.top == 1) {
                     w.rankShow = true
                 }
                
            })
        },
        methods: {
            
        },
      });
   </script>
</body>
</html>