@charset "utf-8";
/* CSS Document */

* {margin: 0;padding: 0;}
a {text-decoration: none;color: black;}
li {list-style: none;}
#app {
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: helvetica;
  height: 100%;
  width: 100%;
}
/* 页面头部 */
#header {
  width: 100%;
  height: 3rem;
  box-shadow: 0px 0.02rem 0.4rem 0px #d0c1c3;
}
#header img {
  height: 3rem;
  width: 100%;
}

/* 内容部分 */
.center {
  width: 6.74rem;
  height: 8.9rem;
  margin: 0.4rem auto;
}
.title_div {
  width: 5.2rem;
  height: 0.6rem;
  margin: 0 auto;
  line-height: 0.6rem;
  display: flex;
  justify-content: space-around;
}

.title_div li {
  height: 0.5rem;
  text-align: center;
}

.title_div > li > a {
  font-size: 0.3rem;
  font-weight: bold;
  width: 1.13rem;
}
.title_div > li > p {
  font-size: 0.3rem;
  color: #5e5e5e;
}
.title_div > li > a:active {
  color: red;
  border-bottom: 0.03rem solid red;
}

/* 商品展示区域 */
.bottom_div {
  width: 95%;
  height: 9rem;
  margin: auto;
}

#product_display {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}
.li_content {
  width: 100%;
  height: 2.89rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b8a7a7;
}
.li_img {
  width: 2.14rem;
  height: 2.14rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0.14rem;
}
.li_div {
  width: 3.8rem;
  height: 2.14rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.28rem;
 
}

.lip_div {
  width: 3.6rem;
  height: 0.7rem;
  word-break: break-all;
  word-wrap: break-word;
}
.lip {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font: 0.26rem "微软雅黑";
  color: #272727;
  width: 80%;
}

.img_div {
  width: 3.6rem;
  height: 1rem;
  display: flex;
  /* background-color: teal; */
}
.coupon {
  position: relative;
  width: 1.8rem;
  height: 0.36rem;
}
.coupon_color {
  background-color: #7900cf;
}
.coupon_color_one {
  background-color: #c47300;
  margin-left: 0.08rem;
}

.coupon1 {
  font-size: 0.2rem;
  text-align: center;
  color: white;
  line-height: 0.36rem;
}
.yuan1 {
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 0.15rem;
  background-color: #fff;
  left: -0.1rem;
  top: 0.12rem;
}
.yuan2 {
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 0.15rem;
  background-color: #fff;
  right: -0.1rem;
  top: 0.12rem;
}

.price_div {
  display: flex;
  justify-content: space-between;
  width: 3.61rem;
  height: 0.54rem;
  line-height: 0.54rem;
}


/* 价格样式 */

/* 文字长度较长的 */
.price_div_left {
  width: 2.8rem;
  display: flex;
}
.price_style {
  font-size: 0.4rem;
  font-weight: bold;
  color: #191919;
  display: inline-block;
}
.price_style_one {
  font-size: 0.28rem;
  color: #555555;
  text-decoration: line-through;
}
/* 文字长度较短的 */
.price_div_left1{
  width: 2rem;
  display: flex;
  justify-content: space-around;
}
.price_style1 {
  width: 1.2rem;
  font-size: 0.4rem;
  font-weight: bold;
  color: #191919;
  display: inline-block;
}
.price_style_one1 {
  width: 0.8rem;
  font-size: 0.28rem;
  color: #555555;
  text-decoration: line-through;
}
.price_btn {
  width: 1.4rem;
  height: 0.54rem;
  background-color: #f92342;
  color: white;
  font-size: 0.3rem;
  border-radius: 0.16rem;
  border-style: none;
}


/* 弹窗 */
.card{width: 100%;height: 100%;background-image: url("./images/zhiying.png");background-size: 100% 100%;position: fixed;top: 0;left: 0;}